{% extends "layout.html" %}

{% block body %}

<nav class="nav nav-pills nav-fill">
    <a class="nav-link" href="/">Homepage</a>
    <a class="nav-link active" aria-current="page" href="/companies">Companies</a>
    <a class="nav-link" href="#">Institutional Investors</a>
</nav>
<hr> 
<body>
    <div class="company_container">
        {% for stock in stocks_list %}
            <form action="/company_overview" method="post" class="company">
                <input name="stock_id" type="hidden" value="{{stock[0]}}">
                <input type="submit" value="{{stock[1]}} - {{stock[2]}}" class="company_name">
            </form>
        {% endfor %}
      </div>
</body>

{% endblock %}