{% extends "layout.html" %}

{% block body %}

<nav class="nav nav-pills nav-fill">
    <a class="nav-link" href="/">Homepage</a>
    <a class="nav-link active" aria-current="page" href="/companies">Companies</a>
    <a class="nav-link" href="/investors">Institutional Investors</a>
</nav>
<hr> 
<h1>{{stock_info.shortName}}</h1>
<hr>  
<body>
    <h3>Stock Market KPIs</h3>
    <table class="table table-striped">
        <tbody>
            <tr>
                <th scope="row">Current Stock Price ($)</th>
                <td>{{stock_info.regularMarketPrice}}</td>
            </tr>
            <tr>
                <th scope="row">marketCap ($ bil)</th>
                <td>{{ "%.1f"|format(stock_info.marketCap)}}</td>
            </tr>
            <tr>
                <th scope="row">Number of outstanding shares (mil)</th>
                <td>{{ "%.1f"|format(stock_info.sharesOutstanding)}}</td>
            </tr>
        </tbody>
      </table>

      <h3>Institutional Investors</h3>


            <table class="table table-striped">
                <thead>
                  <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Shares (mil) </th>
                    <th scope="col">% of outstanding shares </th>
                    <th scope="col">Value ($ bil)</th>
                  </tr>
                </thead>
                <tbody>
                    {% for inv in inv_list %}
                    <tr>
                        <th scope="row">{{ inv[0] }}</th>
                        <td>{{ "%.1f"|format(inv[1]) }}</td>
                        <td>{{ "%.2f"|format(inv[5]) }}</td>
                        <td>{{ "%.1f"|format(inv[4]) }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
              </table>
        
        <h3>Company Information</h3>
            <b>
                Sector:
            </b>
            {{stock_info.sector}}
            <b>
            <br>
                Business Summary:
            </b>
        <p>
            {{stock_info.longBusinessSummary}}
        </p>
</body>

{% endblock %}