{% extends "layout.html" %}

{% block body %}

<nav class="nav nav-pills nav-fill">
    <a class="nav-link" href="/">Homepage</a>
    <a class="nav-link active" aria-current="page" href="/companies">Companies</a>
    <a class="nav-link" href="#">Institutional Investors</a>
</nav>
<hr> 
<body>
    <div class="container">
        <div class="row">
          <div class="col-sm">
            One of three columns
          </div>
          <div class="col-sm">
            One of three columns
          </div>
          <div class="col-sm">
            One of three columns
          </div>
        </div>
      </div>
        {% for stock in stocks_list %}
    
            <form action="/company_overview" method="post">
                <input name="stock_id" type="hidden" value="{{stock[0]}}">
                <input type="submit" value="{{stock[1]}} - {{stock[2]}}">
            </form>
        {% endfor %}
</body>

{% endblock %}