{% extends "layout.html" %}

{% block body %}

<nav class="nav nav-pills nav-fill">
    <a class="nav-link" href="/">Homepage</a>
    <a class="nav-link active" aria-current="page" href="/companies">Companies</a>
    <a class="nav-link" href="#">Institutional Investors</a>
</nav>
<body>
    <div class="list-group">
        <a href="/company_overview" class="list-group-item list-group-item-action">XXX</a>
        <a href="#" class="list-group-item list-group-item-action">A third link item</a>
        <a href="#" class="list-group-item list-group-item-action">A fourth link item</a>
      </div>
</body>

{% endblock %}