{% extends "layout.html" %}

{% block body %}

<nav class="nav nav-pills nav-fill">
    <a class="nav-link active" aria-current="page" href="/">Homepage</a>
    <a class="nav-link" href="/companies">Companies</a>
    <a class="nav-link" href="/investors">Institutional Investors</a>
</nav>
<hr>
<body>
    <h1>Institutional Investor Analyzer</h1>
    <h5>
        A web tool that gives an overview of the institutional investors invested in the <a href="https://www.spglobal.com/spdji/en/indices/equity/sp-500/#overview">S&P 500</a> companies. 
    </h5>
</body>

{% endblock %}